# Byte-compiled Python files
*.py[cod]

# Log files
*.log

# Database files
db.sqlite3

# Virtual environment files
.venv
env
venv

# IDE files
.vscode
.pycharm
.idea

# Django files
media
staticfiles
*.pid

# OS files
.DS_Store
Thumbs.db

# Other files
__pycache__
*.egg-info
dist
build
*.env