annotated-types==0.7.0
asgiref==3.8.1
Django==5.1.3
django-environ==0.11.2
django-extensions==3.2.3
django-shell-plus==1.1.7
markdown-it-py==3.0.0
mdurl==0.1.2
psycopg2-binary==2.9.10
pydantic==2.10.1
pydantic_core==2.27.1
Pygments==2.18.0
rich==13.9.4
sqlparse==0.5.2
typing_extensions==4.12.2
